.tableWrapper {
  border: grey 1px solid;
  width: 100%;
  min-width: 820px;
  overflow-y: scroll;
}

.ListBox {
  display: inline-block;
  height: 300px;
}

.ListBox td {
  text-align: center;
  padding: 5px 15px;
}

.ListBox a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.searchDiv,
.searchDiv p,
.searchDiv .options,
.searchDiv .value {
  display: inline-block;
  margin-right: 15px;
}
